@font-face {
  
  font-family: "Open Sans";
  
  font-style: normal;
  
  font-weight: normal;
  
src: url("https://fonts.google.com/share?selection.family=Open%20Sans"), url("Raleway-VariableFont_wght.ttf") format("truetype"), url("Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}

#bloc_page {
  width: 1718px;
}

body, a {
  font-family: "Open Sans", Arial, sans-serif;
  color: black;
}

header {
  display: flex;
}

ul {
  list-style-type: none;
}


}
h3 {
  font-weight: bold;
}



a {
  text-decoration: none;
}

.BBB {
  color: #0065fc;
}

.GGG {
  color: #f2f2f2;
}

#corpsprincipal {
  padding: 40px;
}

/* FOOTER JUSTE */
footer
{
  background-color: #f2f2f2;
  display: flex;
  
}
.listeFooter 
{
  width: 33%;
  margin-bottom: 57px;
}
.listeFooter li 
{
  height: 0px;
  padding-top: 40px;
}
/* FIN FOOTER*/